/* Universal Selectors */

* {
    margin: 0;
}

html, body {
    min-height: 100%;
}

body {
    font-family: 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    min-width: 100%;
}

header {
    color: #6c767d;
    background-color: rgb(216, 226, 235);
    text-align: center;
    padding: 1rem;
}

footer {
    color: #6c767d;
    font-size: 20px;
    background-color: rgb(216, 226, 235);
    text-align: center;
}

card {
    border: 0;
}

h5 {
    padding-top: 10px;
}

.btn {
    background-color: white;
}

.row {
    --bs-gutter-x: 0;
}

/* Search Column Selectors */

.left-col {
    padding: 20px;
    background-color: rgb(255, 250, 237);
    height: auto;
}

#clear-btn {
    width: 100%;
}

#previouscities {
    display: block;
}

.cityBtn {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Main Info Selectors */

.right-col {
    padding: 20px;
}

.uvIndexRate {
    color: black;
}

#over {
    background-color: red;
}

#between {
    background-color: orange;
}

#else {
    background-color: lightyellow;
}

#forecast {
    display: flex;
    flex-wrap: wrap;
}

.cardDivs{
    text-align: center;
    flex-basis: 40px;
    padding: 5px;
    margin: 5px;
}

@media (min-width: 768px) {
    #forecast {
        column-count: 2;
    }
}