:root {
    --drop-shadow: drop-shadow(-2px 13px 10px rgba(0, 0, 0, 0.3777));
}

* {
    margin: 0;
}

body {
    font-family: 'Trebuchet MS', sans-serif;
}

header {
    color: #6c767d;
    background-color: rgb(216, 226, 235);
    text-align: center;
    padding: 1rem;
}

footer {
    color: #6c767d;
    font-size: 20px;
    background-color: rgb(216, 226, 235);
    text-align: center;
}

/* Search Column Selectors */

.left-col {
    padding: 20px;
    background-color: rgb(255, 250, 237);
}

.btn {
    background-color: white;
}

card {
    border: 0;
}

h5 {
    padding-top: 10px;
}

.right-col {
    padding: 20px;
}

#clear-btn {
    width: 100%;
}

.uvIndexRate {
    color: black;
}

#over {
    background-color: red;
}

#between {
    background-color: orange;
}

#else {
    background-color: lightyellow;
}

.row {
    --bs-gutter-x: 0;
}

#forecast {
    display: flex;
    flex-wrap: wrap;
}

.cardDivs{
    flex-basis: 40px;
}

#previouscities {
    display: block;
}

.cityBtn {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}